:root {
    --defaultColors: #F6D394;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(238, 238, 238);
    font-family: "Lato", sans-serif;
    font-weight: bold;
}

#calendar {
    max-width: 720px;
    margin: 3% auto;
    background-color: rgb(221, 221, 221);
    border-radius: 12px;
    overflow: hidden;
}

#header {
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    color: white;
    padding: 32px 20px;
    background-color: var(--defaultColors);
}

.changeButton {
    border-radius: 50%;
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: var(--defaultColors);
    line-height: 28px;
    margin-top: 5px;
}

.changeButton:hover {
    filter: brightness(95%);
}

#weekDays {
    display: flex;
    color: var(--defaultColors);
    background-color: white;
    font-size: 1.3em;
}

.weekDay {
    width: 100%;
    text-align: center;
    padding: 32px 0px 32px;
}

#days {
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
}

.day, .noneDay, .todayDay {
    cursor: pointer;
    background-color: white;
    color: rgb(145, 145, 145);
    width: calc(100% / 7);
    text-align: center;
    padding: 36px 0px 36px;
}

.day:hover {
    filter: brightness(93%);
}

.todayDay {
    background-color: var(--defaultColors);
    color: white;
}

.noneDay {
    visibility: hidden;
}

#eventMenu {
    visibility: hidden;
    background-color: white;
    width: 500px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    position: fixed;
    right: 50%;
    transform: translateX(50%);
    top: 19%;
}

#eventHeader {
    background-color: var(--defaultColors);
    justify-content: space-between;
    display: flex;
    color: white;
}

#eventDate {
    font-size: 1.3em;
    padding: 12px 12px;
}

#eventClose {
    font-size: 1.7em;
    height: 28px;
    width: 28px;
    text-align: center;
    line-height: 28px;
    margin: 12px 12px;
}

#eventClose:hover {
    background-color: white;
    color: var(--defaultColors);
    border-radius: 4px;
    cursor: pointer;
}

#blackWall {
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.3;
    position: fixed;
    top: 0;
    cursor: pointer;
    visibility: hidden;
}

@media (max-width: 500px) {
    #calendar {
        max-width: 360px;
        margin: 10% auto;
        border-radius: 12px;
    }

    #header {
        font-size: 1.8em;
    }

    .changeButton {
        margin-top: 2px;
    }

    .changeButton:hover {
        filter: brightness(100%);
    }

    .weekDay {
        padding: 28px 0px;
        font-size: 0.8em;
    }

    .day, .noneDay, .todayDay {
        padding: 24px 0px;
    }

    .day:hover {
        filter: brightness(100%);
    }

    #eventMenu {
        width: 300px;
    }
}
